.mask {
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
  }
}

.mask-primary {
  &:before {
    background: $primary-mask-color;
    opacity: 0.6;
  }
}