/***************************
Nav Modules
***************************/
.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 28px;
  @include small-and-above {
    float: right;
    width: 60%;
    text-align: right;
    margin-top: 0px;
    li {
      display: inline-block;
    }
  }
}
