/***************************
Reset and Base Imports
***************************/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* 768px / 16px = 48em */
/* Extra Small Only */
/* Small Devices, Tablets */
/***************************
****************************
Reset
****************************
***************************/
/* Change all elements to use border-box */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/***************************
****************************
Base Styles
****************************
***************************/
body {
  color: #414042;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; }

h1, h2, h3 {
  font-weight: bold; }

a {
  color: #8DC63F;
  font-weight: bold; }

a:hover {
  text-decoration: underline; }

/***************************
Layout Imports
***************************/
/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px; }

/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px; }

/* Row Clear Float*/
.row:after {
  content: '';
  display: table;
  clear: both; }

/* Media Query excludes extra small devices and includes small and above */
[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 48em) {
  [class*='col-'] {
    float: left; }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%; }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%; }
  /* Column Half */
  .col-1-2 {
    width: 50%; } }

@media (min-width: 48em) {
  .pull-right-sm {
    float: right; } }

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px; } }

/* Flexbox Layout*/
@media only screen and (min-width: 48em) {
  .flexbox-sm {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Column Two Third */
    /* Column Third */
    /* Column Half */ }
    .flexbox-sm [class*='col-'] {
      float: none; }
    .flexbox-sm .col-2-3 {
      -webkit-box-flex: 0 1 66.6666%;
      -moz-box-flex: 0 1 66.6666%;
      -webkit-flex: 0 1 66.6666%;
      -ms-flex: 0 1 66.6666%;
      flex: 0 1 66.6666%; }
    .flexbox-sm .col-1-3 {
      -webkit-box-flex: 0 1 33.3333%;
      -moz-box-flex: 0 1 33.3333%;
      -webkit-flex: 0 1 33.3333%;
      -ms-flex: 0 1 33.3333%;
      flex: 0 1 33.3333%; }
    .flexbox-sm .col-1-2 {
      -webkit-box-flex: 0 1 50%;
      -moz-box-flex: 0 1 50%;
      -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; }
  .flexbox-sm-row-reverse {
    -webkit-flex-direction: row-reverse;
    /* Safari 6.1+ */
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

/***************************
Module Imports
***************************/
/***************************
Bg-Image Modules
***************************/
.bg-image {
  width: 100%;
  overflow: hidden;
  position: relative; }

.bg-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto; }

/***************************
Button Modules
***************************/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s; }

.btn-primary {
  background: #8DC63F;
  color: white;
  border-color: #8DC63F; }

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none; }

.btn-nav {
  color: white; }

/***************************
Header
***************************/
.header-primary {
  background: #9B8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px; }
  @media only screen and (min-width: 48em) {
    .header-primary {
      background: none;
      position: absolute;
      z-index: 99;
      width: 100%; }
      .header-primary:after {
        content: "";
        display: table;
        clear: both; }
      .header-primary .container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; } }

/***************************
Hero Modules
***************************/
.hero {
  text-align: center; }

.hero-primary {
  background-color: #594a42;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media only screen and (min-width: 48em) {
    .hero-primary {
      padding-top: 150px; } }

.hero-primary.bg-image > img {
  opacity: 0.55; }

.hero-body {
  position: relative; }

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em; }

.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.500em;
  font-weight: normal; }

.hero-subtitle + button {
  margin-top: 25px; }

/***************************
Logo Modules
***************************/
.logo {
  overflow: hidden;
  display: inline-block; }

.logo-primary {
  width: 64px;
  height: 64px; }
  @media only screen and (min-width: 48em) {
    .logo-primary {
      width: auto;
      height: 50px;
      margin-right: auto; } }

.logo-primary img {
  height: 100%; }

/***************************
Media Modules
***************************/
.media, .media-body {
  overflow: hidden; }

.media-item {
  float: left;
  margin-right: 10px; }

.media-item i {
  color: #594a42;
  font-size: 5em; }

.media-item img {
  display: block; }

/***************************
Nav Modules
***************************/
.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.nav-primary {
  margin-top: 28px; }
  @media only screen and (min-width: 48em) {
    .nav-primary {
      margin-top: 0px; }
      .nav-primary li {
        display: inline-block; } }

.frame {
  overflow: hidden; }

.frame-primary {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px auto 40px auto; }
  .frame-primary img {
    width: 100%; }
  @media only screen and (min-width: 48em) {
    .frame-primary {
      width: 230px;
      height: 230px;
      border-radius: 115px;
      position: relative;
      top: -30px;
      margin: 0 auto; } }
  @media only screen and (min-width: 62em) {
    .frame-primary {
      width: 355px;
      height: 355px;
      border-radius: 177.5px; } }

.mask {
  position: relative; }
  .mask:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: ""; }

.mask-primary:before {
  background: #F7941E;
  opacity: 0.6; }

/***************************
Theme Imports
***************************/
/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E; }

.background-secondary {
  background: #C49A6C; }

.background-tertiary {
  background: #8DC63F; }

.background-quaternary {
  background: #594a42; }

.background-quinary {
  background: #e7e1d7; }
