$mq-1: 48em !default; /* 768px / 16px = 48em */
$mq-2: 62em !default;


/* Extra Small Only */
@mixin extra-small-only {
  @media only screen and (max-width: $mq-1 - 0.0625) {
    @content;
  }
}

/* Small Devices, Tablets */
@mixin small-and-above {
  @media only screen and (min-width: $mq-1) {
    @content;
  }
}

@mixin medium-and-above {
  @media only screen and (min-width: $mq-2) {
    @content;
  }
}
