$mq-1: 48em !default; /* 768px / 16px = 48em */

@mixin extra-small-only {
  @media only screen and (max-width : $mq-1 - 0.0625) {
      @content;
  }
}

@mixin small-and-above {
  @media only screen and (min-width : $mq-1) {
      @content;
  }
}