/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/

@import "normalize.css";
/* Change all elements to use border-box */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/

/***************************
****************************
Layout Styles
****************************
***************************/

/* Content Container*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

/* Row */

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Row Clear Float*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Query excludes extra small devices and includes small and above */

[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*="col-"] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************
****************************
Modules
****************************
***************************/

.btn {
  transition: all 0.3s ease 0s;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75em 1.875em;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 0.25em;
}

.btn-primary {
  background: #8dc63f;
  border-color: #8dc63f;
  color: white;
}

@media(min-width: 48em) {
  .btn-primary {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.125em;
  }

  .btn-nav {
    font-weight: normal;
    font-size: 1.125em;
  }
}

.btn-nav {
  color: white;
}


.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}



.header-primary {
  background: #9b8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/*Logo Modules*/

.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%;
}

/*Navigation Modules*/

.nav>ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 35px;
}

/*Hero Modules*/

.hero {
  text-align: center;
}

.hero-primary {
  background-color: #594a42;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-secondary {
  background-color: #999;
}

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em;
}

.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.500em;
  font-weight: normal;
}

.hero-subtitle+button {
  margin-top: 25px;
}

.btn-hero {
  font-size: 1.750em;
  background: none;
  color: white;
  padding: 15px 30px;
  border-color: white;
}

.btn-hero:hover {
  background: white;
  color: #39B54A;
  text-decoration: none;
}

/*Background Modules*/

.bg-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image>img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
}

.hero-primary.bg-image>img {
  opacity: 0.55;
}

.hero-secondary.bg-image>img {
  opacity: 0.55;
}

.hero-body {
  position: relative;
}

.hero-text {
  font-style: italic;
  font-weight: 300;
}

.hero-text strong {
  font-weight: bold;
  font-style: normal
}

/*Media Object Module*/

.media {}

.media,
.media-body {
  overflow: hidden;
}

.media-item {
  float: left;
  margin-right: 10px;
}

.media-item i {
  color: #594a42;
  font-size: 5em;
}

/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
  background: #f7941e;
}

.background-secondary {
  background: #00aeef;
}

.background-tertiary {
  background: #8dc63f;
}

.background-quaternary {
  background: #594a42;
}

.background-quinary {
  background: #e7e1d7;
}